/* custom css start  */

.btn_color{
    background-color:  ;
}

.hc_text{
    font-size: 30px;
    font-weight: bold ;
    color: #fff;
}

.pc_text{
  color: #fff;   
}

.price_textcolor{
    color: #4E944F;

}

.reg_button{
    margin-left: 100px;

}

